/*Progress deixar a bordar do campo do progresso verde*/
.progress{
    background: #FEF8DA ;
    border: solid 1px #99CE28;
}
/*progress-bar deixar o campo progresso verde*/
.progress-bar{
    background: #99ce28;
}