<!--Tera os componentes progresso e tentativas-->
<div class="container"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <app-progresso></app-progresso>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-end">
            <app-tentativas></app-tentativas>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>{{introducao}}</h6><!--introducao é um atributo da class painelcomponent -->
            <p>{{frases[1].fraseEng}}</p>

            <div class="form-group"><!--Textarea-->
                <textarea class="form-control" 
                rows="3"
                (input)="atualizaReposta()"
                ></textarea>
              </div>
        </div>
    </div>
    <!--Declarando o botão-->
    <div class="row">
        <div class="col">
                <div class="d-flex justify-content-end"><!--flex justify tem a função de deixar o botão ao lado direito-->
                <button type="button" class="btn btn-primary">Verificar</button></div>
           </div>
    </div>
    
  </div>
